n8n/telegram-notification-workflow.json
{
  "name": "AI Portfolio — Telegram Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-portfolio",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ai-portfolio"
    },
    {
      "parameters": {
        "chatId": "419465595",
        "text": "=🤖 *AI Portfolio — новый вопрос*\n\n*Вопрос:*\n{{ $json.body.question }}\n\n*Ответ (первые 300 симв):*\n{{ $json.body.answer }}\n\n_{{ $json.body.ts }}_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-node",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [460, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}"
      },
      "id": "respond-node",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Send Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Send Telegram": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
